---
const { name, title, phone, email } = Astro.props;
---
  
<div
  id="signature-card"
  class="bg-rs-primary-50 rounded-xl shadow-lg p-4 flex flex-row flex-nowrap gap-[10px] items-center border border-rs-primary-200 w-auto max-w-full min-w-[400px] font-source-sans"
>
  <img
    data-field="logoUrl"
    src="/romega-logo.svg"
    alt="Romega Solutions Logo"
    class="object-contain rounded flex-shrink-0"
    style="width: 84px; height: 131px; min-width: 84px;"
  />
  
  <!-- Vertical Divider Line -->
  <div class="w-px h-[130px] bg-rs-primary-700 flex-shrink-0"></div>
  
  <div class="flex-1 flex flex-col gap-2 min-w-0">
   <!-- Name and Title Section -->
    <div class="flex flex-col min-w-0">
      <span
        data-field="name"
        class="font-merriweather font-bold text-rs-primary-700 leading-tight whitespace-nowrap overflow-hidden text-ellipsis min-w-0 tracking-wide text-xl"
      >
        {name}
      </span>
      <span
        data-field="title"
        class="font-source-sans font-medium text-rs-accent-500 leading-[13px] whitespace-nowrap overflow-hidden text-ellipsis min-w-0 uppercase tracking-normal text-[20px]"
        style="line-height: 20px; letter-spacing: 0%;"
      >
        {title}
      </span>
    </div>
    
    <!-- Contact Information Section -->
    <div class="mt-2 flex flex-col gap-1 text-[12.5px]">
      <div class="flex items-center gap-2">
        <img
          src="/call.svg"
          alt="Call Icon"
          class="w-4 h-4 inline-block align-middle"
        />
        <span class="font-source-sans text-rs-neutral-700 font-medium">WhatsApp (PH)</span>
        <span data-field="phone" class="font-source-sans font-medium text-rs-primary-700 break-words">{phone}</span>
      </div>
      
      <div class="flex items-center gap-2">
        <img
          src="/at.svg"
          alt="Email Icon"
          class="w-4 h-4 inline-block align-middle"
        />
        <span data-field="email" class="font-source-sans text-rs-primary-700 break-words">{email}</span>
      </div>
      
      <div class="flex items-center gap-2">
        <img
          src="/globe.svg"
          alt="Globe Icon"
          class="w-4 h-4 inline-block align-middle"
        />
        <span class="font-source-sans text-rs-primary-700 underline italic break-all">www.romega-solutions.com</span>
      </div>
      
      <div class="flex items-start gap-2">
        <img
          src="/address.svg"
          alt="Address Icon"
          class="w-4 h-4 inline-block align-middle"
        />
        <div class="flex flex-col">
          <span>
                      <span class="font-source-sans text-rs-neutral-700 font-medium">HQ Address (US) </span> <span class="font-source-sans text-rs-primary-700 break-words">222 Pacific Coast</span>
          </span>
          <span class="font-source-sans text-rs-primary-700 break-words">Hwy. #10 in El Segundo, CA 90245</span>
        </div>
      </div>
    </div>
  </div>
</div>